/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
/* reset css */

/** 
  custom-scrollbar-ui
*/

.custom-scrollbar-ui::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.custom-scrollbar-ui::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.3);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.custom-scrollbar-ui::-webkit-scrollbar-track {
  background-color: transparent;
}

/** 
  custom-scrollbar-ui
*/
@media (min-width: 1024px) {
  .lg\:block {
    display: block !important;
  }
}
